    @charset "utf-8";
    /* 导航条基础样式 */
    
    .navbar .container-fluid {
        background-color: rgba(255, 187, 0, 0.9);
    }
    
    .navbar-collapse {
        width: auto;
        height: auto;
    }
    
    .navbar-collapse {
        background-color: rgba(5, 5, 5, 0.9);
    }
    /* 导航条图标 */
    
    .navbar-brand {
        padding: 0!important;
        width: 290px;
        height: 0px!important;
    }
    /* 三级导航切换 */
    
    .drop1,
    .drop2,
    .drop3 {
        position: relative;
        width: 120px;
        margin-top: 0px!important;
        padding-top: 10px;
    }
    
    .dropdown-menu {
        background-color: rgba(255, 187, 0, 0.9);
    }
    
    .dropdown-menu>li>a:hover {
        background-color: rgba(255, 187, 0, 0.9);
    }
    
    .drop1>.dropdown-toggle,
    .drop2>.dropdown-toggle,
    .drop3>.dropdown-toggle {
        padding-left: 5px;
    }
    /* 添加show样式 */
    
    .show {
        display: block;
    }
    
    .submenu1>li,
    .submenu2>li,
    .submenu3>li {
        width: 80px;
        padding: 0;
    }
    
    nav a {
        color: #fff!important;
    }
    
    nav a:hover {
        color: #000!important;
    }
    
    .empty {
        width: 100%;
        height: 50px;
    }
    
    @media(min-width:1300px) {
        .navbar-collapse {
            width: 1300px;
            height: auto;
            margin: 0 auto;
        }
        .navbar-collapse {
            background-color: rgba(255, 187, 0, 0.9);
        }
        .submenu1,
        .submenu2,
        .submenu3 {
            width: 80px;
            position: absolute;
            list-style: none;
            left: 120px;
            top: 0px;
            padding: 0;
            display: none;
        }
        .navbar-nav {
            float: right!important;
        }
        .navbar-nav>li a {
            width: 130px;
            font-size: 16px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            letter-spacing: 0.1em;
            /* margin-top: 5px; */
            padding-top: 5px;
            padding-bottom: 0;
            padding-left: 8px;
            padding-right: 8px;
        }
        /* 伪类符号 */
        .navbar-nav>li>a::after {
            content: "-";
            font-size: 18px;
            color: #fff;
            position: absolute;
            right: 0;
        }
        .navbar-nav>.lastli>a::after {
            content: " "!important;
        }
        .dropdown-menu {
            background-color: rgba(255, 187, 0, 0.9)!important;
            min-width: 120px!important;
            border: none;
            padding: 0!important;
        }
        .dropdown-menu li {
            background: rgba(255, 187, 0, 0.9);
        }
        .dropdown-menu a {
            background: rgba(255, 187, 0, 0.9);
        }
        .dropdown-menu li a:hover {
            background-color: rgba(255, 187, 0, 0.9)!important;
        }
        .dropdown-menu:hover {
            background-color: rgba(255, 187, 0, 0.9)!important;
        }
        .open {
            height: 110px;
        }
        .drop1,
        .drop2,
        .drop3 {
            height: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left: 5px;
        }
        .drop1>.dropdown-toggle,
        .drop2>.dropdown-toggle,
        .drop3>.dropdown-toggle {
            width: 0;
            padding: 0;
            margin: 0;
        }
        .menu1 li a {
            padding-left: 5px;
        }
        .menu2 li a {
            padding-left: 5px;
        }
        .dropdown-submenu {
            background-color: rgba(255, 187, 0, 0.9);
            border-radius: 5px;
        }
        .dropdown-submenu>li {
            padding: 0 10px;
            background: rgba(255, 187, 0, 0.9);
        }
        .dropdown-submenu>li>a {
            letter-spacing: 0;
            text-align: left;
            width: 64px;
            height: auto;
            text-decoration: none;
            color: #333;
            padding: 0;
            margin: 0;
            background: rgba(255, 187, 0, 0.9);
        }
        .open {
            height: 50px;
        }
        .dropdown-toggle {
            padding-top: 16px;
            padding-bottom: 9px;
            margin-top: 0;
            height: 0;
        }
        /* 解决点击a标签hover时空白问题 */
        .navbar-default .navbar-nav>.open>a,
        .navbar-default .navbar-nav>.open>a:focus,
        .navbar-default .navbar-nav>.open>a:hover {
            background-color: rgba(255, 187, 0, 1)!important;
        }
        nav .navbar {
            position: relative;
            padding: 0;
        }
        .img1 {
            margin-top: 7%;
            margin-left: 5%;
        }
        .img2 {
            position: absolute;
            top: -160%;
            z-index: -3456;
        }
        nav a {
            color: #fff!important;
        }
        nav a:hover {
            color: #000!important;
        }
        .empty {
            width: 100%;
            height: 50px;
        }
    }