@charset "utf-8";

/* 基础样式 */


/* 首页轮播图开始 */

.carousel-indicators li {
    border-radius: 0;
}

.carousel>.span1 {
    position: absolute;
    left: 49.25%;
    color: #fff;
    top: 87%;
    z-index: 2000;
}

.carousel>.span2 {
    position: absolute;
    left: 50.4%;
    color: #fff;
    top: 87%;
    z-index: 2000;
}

.carousel-indicators .active {
    background-color: #ffbb00;
    border: 1px solid #ffbb00;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: -69%;
    padding: 0;
    width: auto;
    height: auto;
}


/* 首页轮播图结束 */


/* 企业应用软件开始 */

.container>.row {
    margin-top: 30px;
}

.container>.row>h3 {
    padding-left: 25px;
    font-size: 30px;
    color: #000;
}

.container>.row>ul {
    list-style: none;
    margin-top: 27px;
}

.container>.row>ul>li {
    float: left;
    padding: 0 7px;
}

.container>.row>ul>li>a::after {
    content: "/";
    margin-left: 5px;
}

.container>.row>ul>li:nth-child(8)>a::after {
    content: none;
    margin-left: 5px;
}

.container>.row>ul>li>a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
}

.container>.row>ul>li>a:hover {
    color: #ffbb00;
}

.viewport {
    margin-top: 30px;
}

.secitem {
    width: 334px;
}

.secitem>.item>a {
    display: block;
    position: relative;
}

.secitem>.item>a>.itemtop>img {
    display: block;
}

.secitem>.item>a>.itemtop>p {
    margin: 10px 0;
}

.secitem>.item>a>.itemtop>p>b {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    margin-left: 10px;
    color: #000;
    font-weight: normal;
}

.secitem>.item>a>.itembtm>p {
    display: inline-block;
    width: 270px;
    height: 195px;
    border: 1px solid #fff;
    text-align: center;
}

.secitem>.item>a>.itembtm>p>span {
    display: inline-block;
    margin-top: 13px;
    width: 242px;
    height: 168px;
    border-radius: 0;
    vertical-align: middle;
    background-color: rgba(255, 187, 0, 0.8);
}

.secitem>.item>a>.itembtm>p>span>b {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    line-height: 30px;
    font-size: 14px;
    margin-top: 20px;
    font-weight: normal;
}

.secitem>.item>a>.itembtm {
    position: absolute;
    top: 13px;
    left: 10px;
}


/* 企业应用软件结束*/


/* 网络营销服务开始 */


/* 网络营销服务结束 */


/* 网络基础服务开始 */

.indexbase-d {
    margin-top: 60px;
    margin-bottom: 80px;
}

.indexbase-d>.indexbase-dtitle {
    overflow: hidden;
    line-height: 45px;
    height: 45px;
    margin: 15px 0;
}

.indexbase-d>.indexbase-dtitle>h3 {
    float: left;
    margin: 10px;
    font-size: 30px;
}

.indexbase-d>.indexbase-dtitle>ul {
    list-style: none;
    float: right;
    text-align: right;
}

.indexbase-d>.indexbase-dtitle>ul>li>a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
}

.indexbase-d>.indexbase-dtitle>ul>li>a:hover {
    color: #ffbb00;
}

.indexbase-d>.item {
    margin-top: 60px;
    text-align: center;
    cursor: pointer;
}

.indexbase-d>.item>a>img {
    display: inline;
}

.indexbase-d>.item>a>p {
    float: right;
    width: 50%;
    text-align: left;
}

.indexbase-d>.item>a>p>img {
    display: block;
    margin-top: 50px;
}

.indexbase-d>.item>a>p>big {
    display: block;
    color: #226bc8;
    font-size: 30px;
    margin: 30px 0;
}

.indexbase-d>.item>a>p>span {
    display: block;
    font-size: 18px;
    line-height: 40px;
    color: #000;
}


/* 网络基础服务结束 */


/* 超预企业服务开始 */

.indexbase-e {
    padding: 20px 0;
    background: #f7f7f7;
    height: 737px;
}

.indexbase-etitle {
    margin: 15px 0;
    text-align: center;
    width: 100%;
}

.indexbase-etitle b {
    font-size: 40px;
    color: #000;
    line-height: 45px;
    display: inline-block;
    font-weight: normal;
}

.indexbase-etitle b sup::after {
    content: "(R)";
    font-size: 22px;
    width: 30px;
    text-align: center;
}

.indexbase-etitle span {
    font-size: 25px;
    line-height: 60px;
    color: #000;
    display: block;
}

.indexbase-e>ul {
    width: 1000px;
    list-style: none;
    margin-top: 40px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

.indexbase-e>ul>li {
    height: 280px;
    text-align: center;
    padding: 0;
    width: 33.3%;
    float: left;
}

.indexbase-e>ul>li span {
    display: inline-block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    padding: 0;
}

.indexbase-e>ul>li h4 {
    font-size: 22px;
    display: block;
    line-height: 40px;
    color: #000;
    transition: all 0.3s;
}

.indexbase-e>ul>li b {
    font-size: 14px;
    display: block;
    line-height: 25px;
    color: #000;
    transition: all 0.3s;
    font-weight: normal;
}

.chaoyu-ico1 {
    background-image: url(../images/img_yjp/logoyang/chy-ico1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.chaoyu-ico2 {
    background-image: url(../images/img_yjp/logoyang/chy-ico2.png);
    background-position: center;
    background-repeat: no-repeat;
}

.chaoyu-ico3 {
    background-image: url(../images/img_yjp/logoyang/chy-ico3.png);
    background-position: center;
    background-repeat: no-repeat;
}

.chaoyu-ico4 {
    background-image: url(../images/img_yjp/logoyang/chy-ico4.png);
    background-position: center;
    background-repeat: no-repeat;
}

.chaoyu-ico5 {
    background-image: url(../images/img_yjp/logoyang/chy-ico5.png);
    background-position: center;
    background-repeat: no-repeat;
}

.chaoyu-ico6 {
    background-image: url(../images/img_yjp/logoyang/chy-ico6.png);
    background-position: center;
    background-repeat: no-repeat;
}

.indexbase-e>ul>li:hover span {
    background-color: #ffbb00;
}

.indexbase-e>ul>li:hover h4 {
    color: #ffbb00;
}

.indexbase-e>ul>li:hover b {
    color: #ffbb00;
}


/* 超预企业服务结束 */


/* 大屏幕1300px */

@media(min-width:1300px) {
    .contain {
        width: 1300px;
        padding: 0;
        margin: 0 auto;
    }
    .carousel-indicators {
        width: 100%;
    }
    .carousel-indicators {
        bottom: 20px;
    }
    .indexbase-e>ul {
        width: 1000px;
        list-style: none;
        margin-top: 40px;
        padding: 0;
        margin: 0 auto;
        overflow: hidden;
    }
}


/* 中等屏幕992px */

@media(max-width:992px) {
    .contain {
        width: auto;
        padding: 0;
        margin: 0 auto;
    }
    .carousel-indicators {
        width: 100%;
    }
    .carousel-indicators {
        bottom: -10px!important;
    }
    .indexbase-e>ul {
        width: auto;
        list-style: none;
        margin-top: 40px;
        padding: 0;
    }
}


/* 小屏幕768px */

@media(max-width:768px) {
    .contain {
        width: auto;
        padding: 0;
        margin: 0 auto;
    }
    .carousel-indicators {
        width: 100%;
    }
    .carousel-indicators {
        bottom: -10px!important;
    }
    .indexbase-e>ul {
        width: auto;
        list-style: none;
        margin-top: 40px;
        padding: 0;
    }
}


/* 移动端320px */

@media(max-width:414px) {
    .contain {
        width: auto;
        padding: 0;
        margin: 0 auto;
    }
    .carousel-indicators {
        width: 100%;
    }
    .carousel-indicators {
        bottom: -10px!important;
    }
    .indexbase-e>ul {
        width: auto;
        list-style: none;
        margin-top: 40px;
        padding: 0;
    }
}