@charset "utf-8";

/* 框部样式 */

.index {
    width: 1340px;
    margin: 0 auto;
}

.contain {
    width: 100%;
}


/* 首页轮播图开始 */

.carousel-indicators li {
    border-radius: 0;
}

.carousel>.span1 {
    position: absolute;
    left: 49.25%;
    color: #fff;
    top: 87%;
    z-index: 2000;
}

.carousel>.span2 {
    position: absolute;
    left: 50.4%;
    color: #fff;
    top: 87%;
    z-index: 2000;
}

.carousel-indicators .active {
    background-color: #ffbb00;
    border: 1px solid #ffbb00;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: -69%;
    padding: 0;
    width: auto;
    height: auto;
}


/* 首页轮播图结束 */


/* 企业应用软件开始 */


/* 企业应用软件结束 */


/* 网络基础服务开始 */

.indexbase-d {
    margin-top: 60px;
    margin-bottom: 80px;
}

.indexbase-d>.indexbase-dtitle {
    overflow: hidden;
    line-height: 45px;
    height: 45px;
    margin: 15px 0;
}

.indexbase-d>.indexbase-dtitle>h3 {
    float: left;
    margin: 10px;
    font-size: 30px;
}

.indexbase-d>.indexbase-dtitle>ul {
    list-style: none;
    float: right;
    text-align: right;
}

.indexbase-d>.indexbase-dtitle>ul>li>a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
}

.indexbase-d>.indexbase-dtitle>ul>li>a:hover {
    color: #ffbb00;
}

.indexbase-d>.item {
    margin-top: 60px;
    text-align: center;
    cursor: pointer;
}

.indexbase-d>.item>a>img {
    display: inline;
}

.indexbase-d>.item>a>p {
    float: right;
    width: 50%;
    text-align: left;
}

.indexbase-d>.item>a>p>img {
    display: block;
    margin-top: 50px;
}

.indexbase-d>.item>a>p>big {
    display: block;
    color: #226bc8;
    font-size: 30px;
    margin: 30px 0;
}

.indexbase-d>.item>a>p>span {
    display: block;
    font-size: 18px;
    line-height: 40px;
    color: #000;
}


/* 网络基础服务结束 */


/* 超预企业服务开始 */

.indexbase-e {
    padding: 20px 0;
    background: #f7f7f7;
    height: 737px;
}

.indexbase-etitle {
    margin: 15px 0;
    text-align: center;
    width: 100%;
}

.indexbase-etitle b {
    font-size: 40px;
    color: #000;
    line-height: 45px;
    display: inline-block;
    font-weight: normal;
}

.indexbase-etitle b sup::after {
    content: "(R)";
    font-size: 22px;
    width: 30px;
    text-align: center;
}

.indexbase-etitle span {
    font-size: 25px;
    line-height: 60px;
    color: #000;
    display: block;
}

.indexbase-e>ul {
    width: 1000px;
    list-style: none;
    margin-top: 40px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

.indexbase-e>ul>li {
    height: 280px;
    text-align: center;
    padding: 0;
    width: 33.3%;
    float: left;
}

.indexbase-e>ul>li span {
    display: inline-block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    padding: 0;
}

.indexbase-e>ul>li h4 {
    font-size: 22px;
    display: block;
    line-height: 40px;
    color: #000;
    transition: all 0.3s;
}

.indexbase-e>ul>li b {
    font-size: 14px;
    display: block;
    line-height: 25px;
    color: #000;
    transition: all 0.3s;
    font-weight: normal;
}

.chaoyu-ico1 {
    background-image: url(../images/img_yjp/logoyang/chy-ico1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.chaoyu-ico2 {
    background-image: url(../images/img_yjp/logoyang/chy-ico2.png);
    background-position: center;
    background-repeat: no-repeat;
}

.chaoyu-ico3 {
    background-image: url(../images/img_yjp/logoyang/chy-ico3.png);
    background-position: center;
    background-repeat: no-repeat;
}

.chaoyu-ico4 {
    background-image: url(../images/img_yjp/logoyang/chy-ico4.png);
    background-position: center;
    background-repeat: no-repeat;
}

.chaoyu-ico5 {
    background-image: url(../images/img_yjp/logoyang/chy-ico5.png);
    background-position: center;
    background-repeat: no-repeat;
}

.chaoyu-ico6 {
    background-image: url(../images/img_yjp/logoyang/chy-ico6.png);
    background-position: center;
    background-repeat: no-repeat;
}

.indexbase-e>ul>li:hover span {
    background-color: #ffbb00;
}

.indexbase-e>ul>li:hover h4 {
    color: #ffbb00;
}

.indexbase-e>ul>li:hover b {
    color: #ffbb00;
}


/* 超预企业服务结束 */


/* 公司介绍开始 */

.indexbase-f {
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
}

.indexbase-fleft {
    width: 50%;
    float: left;
}

.indexbase-fright {
    width: 50%;
    float: left;
}

.indexbase-fleft>h3 {
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    border-bottom: 1px solid #000;
    margin: 0;
    margin-right: 40px;
}

.indexbase-fleft>p {
    font-size: 18px;
    line-height: 35px;
    margin: 20px 40px 50px 0;
}

.indexbase-fleft>span {
    display: block;
    width: 220px;
    margin: 0 auto;
    background-color: #333;
    padding: 8px 0;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.6s;
    text-align: center;
}

.indexbase-fleft>span>a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.indexbase-fleft>span>a::after {
    content: ">";
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
}

.indexbase-fleft>span:hover {
    background-color: #ffbb00;
}


/* 公司介绍结束 */


/* 合作客户开始 */

.indexbase-g {
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
}

.indexbase-gleft {
    width: 334px;
    float: left;
    overflow: hidden;
    background-color: #f6f6f6;
    padding-left: 12px;
    height: 630px;
}

.indexbase-gtitle {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    padding: 0;
}

.indexbase-gtitle h2 {
    font-size: 30px;
    color: #000;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    border-bottom: 5px solid #ffbb00;
}

.indexbase-gleft>h5 {
    font-size: 16px;
    line-height: 25px;
    margin: 10px 0;
    font-weight: 520;
}

.indexbase-gleft>ul {
    width: auto;
    height: 453px;
    overflow: hidden;
    background-image: url(../images/img_yjp/imgxyang/ourguest-left-bg.png);
    background-position: left top;
    background-repeat: no-repeat;
    margin: 8px 0 9px 0;
    list-style: none;
    padding: 40px 0 0 110px;
}

.indexbase-gleft>ul>li {
    font-size: 20px;
    height: 100px;
}

.indexbase-gleft>ul>li b {
    font-size: 35px;
    color: #ffbb00;
    display: block;
}

.indexbase-gright {
    width: 966px;
    height: 630px;
    float: right;
    display: block;
    margin-top: 0;
    background: url(../images/img_yjp/imgxyang/ourguest-bg.jpg);
    background-position: top left;
    background-repeat: no-repeat;
}

.indexbase-gright ul {
    padding: 0;
    margin: 0 15px;
    overflow: hidden;
}

.indexbase-gright ul li {
    width: 24.5%;
    float: left;
    height: 105px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    list-style: none;
}

.guest-logo-1 {
    background: url(../images/img_yjp/logoyang/guest-logo-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-2 {
    background: url(../images/img_yjp/logoyang/guest-logo-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-3 {
    background: url(../images/img_yjp/logoyang/guest-logo-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-4 {
    background: url(../images/img_yjp/logoyang/guest-logo-4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-5 {
    background: url(../images/img_yjp/logoyang/guest-logo-5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-6 {
    background: url(../images/img_yjp/logoyang/guest-logo-6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-7 {
    background: url(../images/img_yjp/logoyang/guest-logo-7.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-8 {
    background: url(../images/img_yjp/logoyang/guest-logo-8.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-9 {
    background: url(../images/img_yjp/logoyang/guest-logo-9.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-10 {
    background: url(../images/img_yjp/logoyang/guest-logo-10.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-11 {
    background: url(../images/img_yjp/logoyang/guest-logo-11.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-12 {
    background: url(../images/img_yjp/logoyang/guest-logo-12.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-13 {
    background: url(../images/img_yjp/logoyang/guest-logo-13.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-14 {
    background: url(../images/img_yjp/logoyang/guest-logo-14.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-15 {
    background: url(../images/img_yjp/logoyang/guest-logo-15.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-16 {
    background: url(../images/img_yjp/logoyang/guest-logo-16.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-17 {
    background: url(../images/img_yjp/logoyang/guest-logo-17.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-18 {
    background: url(../images/img_yjp/logoyang/guest-logo-18.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-19 {
    background: url(../images/img_yjp/logoyang/guest-logo-19.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-20 {
    background: url(../images/img_yjp/logoyang/guest-logo-20.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-21 {
    background: url(../images/img_yjp/logoyang/guest-logo-21.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-22 {
    background: url(../images/img_yjp/logoyang/guest-logo-22.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-23 {
    background: url(../images/img_yjp/logoyang/guest-logo-23.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p1 {
    background: url(../images/img_yjp/logoyang/guest-logo-p1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p2 {
    background: url(../images/img_yjp/logoyang/guest-logo-p2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p3 {
    background: url(../images/img_yjp/logoyang/guest-logo-p3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p4 {
    background: url(../images/img_yjp/logoyang/guest-logo-p4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p5 {
    background: url(../images/img_yjp/logoyang/guest-logo-p5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p6 {
    background: url(../images/img_yjp/logoyang/guest-logo-p6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p7 {
    background: url(../images/img_yjp/logoyang/guest-logo-p7.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p8 {
    background: url(../images/img_yjp/logoyang/guest-logo-p8.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p9 {
    background: url(../images/img_yjp/logoyang/guest-logo-p9.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p10 {
    background: url(../images/img_yjp/logoyang/guest-logo-p10.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p11 {
    background: url(../images/img_yjp/logoyang/guest-logo-p11.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p12 {
    background: url(../images/img_yjp/logoyang/guest-logo-p12.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p13 {
    background: url(../images/img_yjp/logoyang/guest-logo-p13.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p14 {
    background: url(../images/img_yjp/logoyang/guest-logo-p14.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p15 {
    background: url(../images/img_yjp/logoyang/guest-logo-p15.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p16 {
    background: url(../images/img_yjp/logoyang/guest-logo-p16.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p17 {
    background: url(../images/img_yjp/logoyang/guest-logo-p17.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p18 {
    background: url(../images/img_yjp/logoyang/guest-logo-p18.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p19 {
    background: url(../images/img_yjp/logoyang/guest-logo-p19.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p20 {
    background: url(../images/img_yjp/logoyang/guest-logo-p20.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p21 {
    background: url(../images/img_yjp/logoyang/guest-logo-p21.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p22 {
    background: url(../images/img_yjp/logoyang/guest-logo-p22.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-p23 {
    background: url(../images/img_yjp/logoyang/guest-logo-p23.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.guest-logo-24 {
    font-size: 50px;
    text-align: center;
    color: #000;
}

.guest-logo-24 a {
    display: inline-block;
    height: 105px;
    line-height: 105px;
    color: #333;
    text-decoration: none;
}

.guest-logo-24 b {
    display: inline-block;
    font-size: 50px;
}


/* 合作客户结束 */


/* 小屏幕（平板，大于等于 768px） */

@media (max-width: 768px) {}


/* 中等屏幕（桌面显示器，大于等于 992px） */

@media (max-width: 992px) {}


/* 大屏幕（大桌面显示器，最大1200px） */

@media (max-width: 1200px) {
    .index {
        width: auto;
    }
    .contain {
        width: auto;
    }
    .carousel-indicators {
        bottom: -10px!important;
    }
    .indexbase-d {
        margin: 0;
    }
    .indexbase-d>.indexbase-dtitle>h3 {
        font-size: 22px;
        float: left;
    }
    .indexbase-d>.indexbase-dtitle>ul {
        list-style: none;
        float: right;
        text-align: right;
        display: none;
    }
    .indexbase-d>.item>a>img {
        float: none;
        width: 60%;
        max-width: 300px;
        margin: 0 auto;
    }
    .indexbase-d>.item {
        margin: 30px 0 20px;
    }
    .indexbase-d>.item>a>p {
        float: none;
        width: auto;
        text-align: left;
        display: inline-block;
    }
    .indexbase-d>.item>a>p>img {
        display: block;
        margin-top: 20px;
    }
    .indexbase-d>.item>a>p>big {
        display: block;
        color: #226bc8;
        font-size: 18px;
        margin: 10px 0;
    }
    .indexbase-d>.item>a>p>span {
        display: block;
        font-size: 14px;
        line-height: 25px;
        color: #000;
    }
    .indexbase-e {
        height: auto;
    }
    .indexbase-etitle {
        width: auto;
        margin-top: 10px;
        margin-bottom: 0px;
        text-align: center;
        overflow: hidden;
        padding: 0px 15px;
    }
    .indexbase-etitle b {
        font-size: 25px;
        display: inline-block;
        font-weight: normal;
    }
    .indexbase-etitle b sup::after {
        font-size: 18px;
        text-align: center;
    }
    .indexbase-etitle span {
        font-size: 18px;
        line-height: 30px;
        color: #000;
        display: block;
    }
    .indexbase-e>ul {
        width: auto;
        overflow: hidden;
        margin: 40px auto 0;
    }
    .indexbase-e>ul>li {
        float: left;
        width: 33.3%;
        height: 150px;
        text-align: center;
        overflow: hidden;
    }
    .indexbase-e>ul>li span {
        display: inline-block;
        width: 150px;
        height: 150px;
        cursor: pointer;
        zoom: 0.5;
        margin: 0px auto;
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(0, 0, 0);
        border-image: initial;
        transition: background 0.3s ease 0s;
    }
    .indexbase-e>ul>li h4 {
        font-size: 14px;
        display: block;
        line-height: 30px;
        color: #000;
        transition: all 0.3s;
    }
    .indexbase-e>ul>li b {
        display: none;
    }
    .indexbase-f {
        width: auto;
        background-image: url(../images/img_yjp/imgxyang/aboutus-bg.jpg);
    }
    .indexbase-fleft {
        display: block;
        width: auto;
        float: none;
        overflow: hidden;
        text-align: left;
        margin: 15px 0;
        margin: 0 16px 40px 15px;
        background-color: #fff;
        opacity: .7;
        margin-top: 40px;
    }
    .indexbase-fright {
        display: none;
    }
    .indexbase-fleft>h3 {
        font-size: 25px;
        line-height: 60px;
        text-align: center;
        border-bottom: 1px solid #000;
        margin-top: 20px;
        margin-right: 0px;
    }
    .indexbase-fleft>p {
        font-size: 16px;
        line-height: 25px;
        margin: 20px 0 20px 0;
    }
    .indexbase-fleft>span {
        display: block;
        margin: 0 auto;
        background-color: #333;
        padding: 8px 0px;
        font-size: 20px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        transition: all 0.6s;
        text-align: center;
    }
    .indexbase-fleft>span>a {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
    }
    .indexbase-fleft>span>a::after {
        content: ">";
        font-size: 20px;
        color: #fff;
        margin-left: 10px;
    }
    .indexbase-g {
        width: auto;
    }
    .indexbase-gleft {
        width: auto;
        height: auto;
        float: none;
        overflow: hidden;
        background: #f6f6f6;
        text-align: center;
        padding: 0;
    }
    .indexbase-gtitle {
        height: 40px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .indexbase-gtitle>h2 {
        font-size: 25px;
    }
    .indexbase-gleft>h5 {
        font-size: 18px;
        line-height: 25px;
        margin: 0;
        font-weight: 520;
    }
    .indexbase-gleft>ul {
        width: auto;
        height: auto;
        overflow: hidden;
        background-image: url();
        background-position: left top;
        background-repeat: no-repeat;
        padding: 0;
        margin: 15px 0 5px 0;
    }
    .indexbase-gleft>ul>li {
        font-size: 14px;
        height: 60px;
        display: block;
        width: 50%;
        float: left;
    }
    .indexbase-gleft>ul>li b {
        font-size: 22px;
        color: #ffbb00;
        display: block;
    }
    .indexbase-gright {
        width: auto;
        float: none;
        display: block;
        margin-top: 20px;
        background: url();
        background-position: top left;
        background-repeat: no-repeat;
    }
    .indexbase-gright ul {
        width: auto;
        overflow: hidden;
        list-style: none;
        margin: 0;
    }
    .indexbase-gright ul li {
        width: 24.5%;
        float: left;
        height: 105px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s;
        background-size: 80px;
    }
    .guest-logo-24>a {
        font-size: 16px;
    }
    .guest-logo-24>b {
        font-size: 16px;
    }
}