@charset "utf-8";

/*banner区域*/

.qcloud_banner {
    width: 100%;
    height: 449px;
    overflow: hidden;
    position: relative;
    background: url(../images/img_wj/qcloud/banner1.jpg) center center no-repeat;
    text-align: center;
}


/*解决方案区域*/

.solve_mtd {
    background-color: #f2f2f2;
}

.solve_mtd>h3 {
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    font-weight: normal;
}

.solve_mtd>p {
    font-family: "黑体";
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    font-weight: normal;
    margin-bottom: 40px;
}


/*选项卡部分*/

.solve_mtd>.tab_bar {
    width: 100%;
    /* margin-left: 80px; */
}

.solve_mtd>.tab_bar>li:first-child {
    margin-left: 20px;
}

.solve_mtd>.tab_bar>li {
    float: left;
    font-size: 16px;
    padding: 0px 15px;
    line-height: 40px;
    cursor: pointer;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #e1e1e1;
    margin-right: 8px;
}

.solve_mtd>.tab_bar>li:hover {
    background: #CDE8FF;
    border: 1px solid #CDE8FF;
}

.solve_mtd>.tab_bar>.active:hover {
    background: #2A71B9;
    color: #fff;
    border: 1px solid #2A71B9;
}

.solve_mtd>.tab_bar>.active {
    background: #2A71B9;
    color: #fff;
    border: 1px solid #2A71B9;
}

.cont {
    margin-top: 20px;
}

.col-md-9 {
    border-right: 1px solid #ddd;
    margin-top: 40px;
}

.showList {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.showList>li {
    float: left;
    margin-right: 5px;
    background: rgba(205, 214, 223, .5);
    border: 1px solid #CDD6DF;
    border-radius: 5px;
    text-align: center;
}

.showList>li>img {
    width: 100%;
}

.showList>li:last-child {
    margin-right: 0;
}

.detail {
    padding-bottom: 20px;
}

.detail>h4 {
    font-family: "黑体";
    font-size: 20px;
    line-height: 45px;
    color: #373737;
    margin-top: 20px;
    font-weight: bold;
}

.detail>p {
    font-family: "黑体";
    font-size: 14px;
    line-height: 25px;
}

.right {
    margin: 0 auto;
}

.right>a {
    margin: 0 auto;
    width: 250px;
    margin-left: 30px;
    display: inline-block;
    background: #fff;
    font-size: 25px;
    margin-top: 40px;
    line-height: 55px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.right>a:hover,
.right>a:active {
    background: #2A71B9;
    border: 1px solid #2A71B9;
    color: #fff;
    text-decoration: none;
}


/*相关产品区域样式*/

.cld_product {
    /* margin-top: 30px; */
    width: 100%;
    /* height: 518px; */
    padding-bottom: 40px;
    background: #000D27 url(../images/img_wj/qcloud/mqcloud-bg.jpg) no-repeat top center;
}

.cld_product>h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    font-weight: normal;
    color: #fff;
}

.cld_product>p {
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.cld_product .info {
    overflow: hidden;
}

.cld_product .row:nth-of-type(2) {
    margin-top: 20px;
}

.cld_product .inner {
    margin: 0 auto;
    /* margin-bottom: 10px; */
    /* margin-top: 10px; */
    /* margin-top: 30px; */
    padding: 10px 0;
    width: 264px;
    height: 150px;
    border-radius: 5px;
    transition: all 0.3s;
    background: url(../images/img_wj/qcloud/ico-cur.png);
}

.cld_product .info:hover .inner {
    margin-top: -5px;
}

.cld_product .info:hover .inner>.left>span {
    color: #fff
}

.cld_product .info:hover .inner>.right a {
    color: #fff
}

.cld_product .inner>.left {
    height: 100%;
    padding: 0 20px;
    float: left;
    border-right: 1px solid #313C51
}

.cld_product .inner>.left>span {
    display: block;
    text-align: center;
    color: #ccc;
    padding-top: 16px;
}

.cld_product .inner>.right {
    float: left;
    padding-left: 25px;
}

.cld_product .inner>.right>li {
    line-height: 31px;
    font-size: 14px;
}

.cld_product .inner>.right>li>a {
    color: #ccc;
    font-size: 12px;
}

.cld_product>p {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
    color: #999;
}


/*全球平台样式*/

.glb_plat>h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    font-weight: normal;
    color: #373737;
}

.glb_plat>p {
    text-align: center;
    font-size: 15px;
    color: #373737;
    margin-bottom: 30px;
}

.glb_plat .row {
    padding: 30px 0;
}

.glb_plat ul {
    /* width: 320px; */
    padding-top: 93px;
    overflow: hidden;
}

.glb_plat ul li {
    text-align: center;
    /* height: 130px; */
}

.glb_plat ul>li>h3 {
    font-size: 60px;
    width: 151px;
    border-bottom: 1px solid #666;
    display: inline-block;
}

.glb_plat ul>li>span {
    text-align: center;
    font-size: 16px;
    display: block;
    line-height: 40px;
}


/*安全认证区域样式*/

.safe_identy {
    background-color: #f2f2f2;
    padding: 0 0 60px 0;
}

.safe_identy>h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    font-weight: normal;
    color: #373737;
}

.safe_identy>p {
    text-align: center;
    font-size: 15px;
    color: #373737;
    margin-bottom: 30px;
}

.owl-carousel .item {
    width: 267px;
    height: 163px;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid #ccc;
}

.owl-carousel .item:hover h5 {
    color: rgb(42, 113, 185)
}

.owl-carousel .owl-item h5 {
    display: block;
    font-size: 22px;
    color: #373737;
    text-align: center;
    height: 40px;
    padding-top: 10px;
}

.owl-carousel .owl-item .des {
    font-weight: normal;
    display: inline-block;
    font-size: 14px;
    color: #373737;
    text-align: center;
    padding-top: 10px;
}

@media (max-width:1300px) {
    .qcloud_banner {
        width: 100%;
        height: 400px;
        background: url(../images/img_wj/qcloud/banner1.jpg) center center no-repeat;
        zoom: 0.65;
    }
    .solve_mtd>h3 {
        font-size: 25px;
    }
    .solve_mtd>p {
        font-size: 18px;
    }
    .right>a {
        width: 100%;
        margin-left: 0;
    }
    /*相关产品*/
    .cld_product>h3 {
        padding-top: 20px;
        text-align: center;
        font-size: 28px;
        line-height: 40px;
        font-weight: normal;
        color: #fff;
    }
    .cld_product>p {
        text-align: center;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 30px;
        color: #999;
    }
    .cld_product {
        /* margin-top: 30px; */
        width: 100%;
        /* height: 518px; */
        background: #000D27 url() no-repeat top center;
    }
}

@media (max-width:768px) {
    .qcloud_banner {
        width: 100%;
        height: 500px;
        margin-top: 160px;
        zoom: 0.32;
    }
    .solve_mtd>.tab_bar>li {
        font-size: 12px;
    }
    .solve_mtd>h3 {
        padding: 0 20px;
        font-size: 18px;
        text-align: center;
        line-height: 30px;
    }
    .solve_mtd>p {
        padding: 0 30px;
        text-align: center;
        font-size: 13px;
    }
    .solve_mtd>.tab_bar {
        width: 100%;
        margin-left: 0;
    }
    .solve_mtd>.tab_bar>li:first-child {
        margin-left: 0px;
    }
    /*相关产品样式*/
    .cld_product>h3 {
        padding-top: 20px;
        text-align: center;
        font-size: 20px;
        line-height: 40px;
        font-weight: normal;
        color: #fff;
    }
    .cld_product>p {
        text-align: center;
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 15px;
        color: #999;
    }
    .cld_product .info {
        height: 158px;
        overflow: hidden;
        margin-top: 20px;
    }
    .right {
        padding-bottom: 30px;
    }
    /*全球平台样式*/
    .glb_plat>h3 {
        padding-top: 20px;
        text-align: center;
        font-size: 20px;
        line-height: 40px;
        font-weight: normal;
        color: #373737;
    }
    .glb_plat>p {
        text-align: center;
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 15px;
        color: #373737;
    }
    .glb_plat .row {
        padding-top: 0;
    }
    .glb_plat ul {
        /* width: 320px; */
        padding-top: 20px;
        overflow: hidden;
    }
    .glb_plat ul li {
        width: 33.333%;
        text-align: center;
        /* height: 130px; */
        float: left;
    }
    .glb_plat ul>li>h3 {
        font-size: 30px;
        width: 80px;
        /* width: 151px; */
        border-bottom: 1px solid #666;
        display: inline-block;
    }
    .glb_plat ul>li>span {
        text-align: center;
        font-size: 12px;
        display: block;
        line-height: 20px;
    }
    .safe_identy>h3 {
        padding-top: 20px;
        text-align: center;
        font-size: 20px;
        line-height: 40px;
        font-weight: normal;
        color: #373737;
    }
    .safe_identy>p {
        text-align: center;
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 15px;
        color: #373737;
    }
}